body {
  font-family: system-ui, -apple-system, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #a8a2a2;
}

.calculator-container , .energy-container {
  /* width: 100%; */
  max-width: 412px;
  height: 456px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: #fff;
  box-sizing: border-box;
}
#hide{
  display: none;
}

h1 {
  color: #1C415D;
  font-size: 17px;
  margin-bottom: 5px;
  font-family: "Manrope", serif;
}

.subtitle {
  color: #000;
  margin: 20px 90px 20px 90px;
  font-weight:500;
  font-size: 14px;
  font-family: "Manrope", serif;
}
.green{
  color:#6AC7CC;
}

.question {
  color: #2d3748;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-family: "K2D", serif;
  font-weight: 600;
  font-style: normal;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 69px;
  height: 24px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 7px;
  background-color: #fff;
  font-size: 14px;
  
  margin-top: 30px;
  color: #ccc;
}

.graph-container {
  position: relative;
  margin-bottom: 10px;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  
}

svg {
  width: 100%;
  height: 100%;
  fill: linear-gradient(180deg, #fff 0%, #1D4562 100%);
}

.slider-container {
  position: relative;
  width: 100%;
  height: 60px;
  margin-top: 20px;
  /* background-color: blue; */
}

.slider {
  width: 100%;
  -webkit-appearance: none;
  height: 4px;
  background: #18415E;
  border-radius: 2px;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #2b6cb0;
  cursor: pointer;
  position: relative;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.slider-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2b6cb0;
  color: white;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  pointer-events: none;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  /* margin-top: -25px; */
}
.next-button {
  display: block;
  /* width: 100%; */
  /* padding: 15px; */
  padding: 10px 40px;
  background: white;
  border: 2px solid #2b6cb0;
  color: #2b6cb0;
  border-radius: 8px;
  
  font-size: 16px;
  cursor: pointer;
  margin-top: 1px;
  text-align: center;
  text-decoration: none;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.dot {
  width: 8px;
  height: 8px;
  background: #cbd5e0;
  border-radius: 50%;
}

.dot.active {
  background: #2b6cb0;
}


/* 2nd page */

.energy-consumption{
  height: 206px;
  width: 372px;
  background-image: url(./assets/solar.png);
  background-color: #0F2D47;
  border-radius: 12px;
}
.energy-container .button-container{
  margin-top: 20px;
}

.energy-container .energy-consumption .energy-consumption-text{
  color: #fff;
  font-size: 24px;
  font-family: "Manrope", serif;
  font-weight:bolder;
  margin-top: 20px;
  margin-left: 20px;
  
}

.energy-consumption-subtext{
  color: #fff;
  font-size: 10px;
  width: 265px;
  font-family: "Manrope", serif;
  margin-left: 20px;
}