body {
  font-family: system-ui, -apple-system, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #a8a2a2;
}

.calculator-container {
  /* width: 100%; */
  max-width: 420px;
  height: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: #fff;
  box-sizing: border-box;
}

h1 {
  color: #1C415D;
  font-size: 18px;
  margin-bottom: 5px;
}

.subtitle {
  color: #000;
  margin: 20px 90px 20px 90px;
  font-weight:500;
  font-size: 14px;
}
.green{
  color:#6AC7CC;
}

.question {
  color: #2d3748;
  
  display: flex;
  justify-content: center;
  /* margin-bottom: 20px; */
}

.graph-container {
  position: relative;
  margin: 20px 0;
  height: 200px;
}

svg {
  width: 100%;
  height: 100%;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 60px;
  margin-top: 20px;
}

.slider {
  width: 100%;
  -webkit-appearance: none;
  height: 2px;
  background: #e2e8f0;
  border-radius: 2px;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #2b6cb0;
  cursor: pointer;
  position: relative;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.slider-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2b6cb0;
  color: white;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  pointer-events: none;
}

.next-button {
  display: block;
  /* width: 100%; */
  /* padding: 15px; */
  padding: 10px 40px;
  background: white;
  border: 2px solid #2b6cb0;
  color: #2b6cb0;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
}

.dot {
  width: 8px;
  height: 8px;
  background: #cbd5e0;
  border-radius: 50%;
}

.dot.active {
  background: #2b6cb0;
}